* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaf7f7;
  padding: 20px 70px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: #53BDA5;
}

.nav-links {
  display: flex;
  gap: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links a {
  text-decoration: none;
  font-size: 15px;
  color: #333333af;
  font-weight: 500;
  padding: 8px 10px;
}

.nav-links a:hover {
  color: #33a6b0;
}

.appointment-btn {
  background-color: #216edb;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
}

.appointment-btn:hover {
  background-color: #1859b5;
}

/* Hide hamburger icon initially */
.hamburger-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 820px) {
  .nav-links {
    position: absolute;
    top: 40px;
    right: 0;
    width: 70%;
    height: 100vh;
    background-color: #eaf7f7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;               

  }

  .nav-links.open {
    transform: translateX(0);
  }

  .nav-links a {
    font-size: 20px;
    margin: 15px 0;
  }
  .appointment-btn-nav{
  background-color: #216edb !important;
  color: #fff !important;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  }
  .appointment-btn {
    display: none;
  }

  .hamburger-icon {
    display: block;
    color: #333;
  }

  .close {
    display: none;
  }
  .navbar{
    padding: 10px 15px;
  }
}
.main-container {
background: linear-gradient(to left, transparent 7%, rgba(9, 41, 82, 0.973) 100%), 
              url('./assets/doctorimg.jpg');
  background-size: cover; 
  background-position: left center;
  height: 100vh; 
  width: 100%; 
  display: flex;

}
@media (max-width: 1024px) { 
  .main-container {
    background-size: cover;
    background-position: center left;
    height: auto; 
    min-height: 60vh; 
  }
  .upper-txt{
    margin-top: 40% !important;
    
  }
}
@media (max-width: 500px) { 
  .main-container {
    height: auto; 
    min-height: 90vh; 
  }
}
    
.welcome-txt{
  font-weight: 500;
  letter-spacing: 0.04cap;
  text-transform: uppercase;
}
.medical-icon{
  margin-right: 4px;
}
.center-align{
  margin-left: 8%;
  margin-top: 10%;
  color: white;
  max-width:550px;
  
}

.main-heading {  
  color: white; 
  font-size: 56px;
  margin: 25px 0; 
  font-weight: 600;
  letter-spacing: 0.04cap;
  font-family: "Sora", sans-serif;
}
.main-heading-about{
  font-size: 46px;
  margin: 20px 0 25px 0; 
  font-weight: 600;
  letter-spacing: 0.04cap;
  font-family: "Sora", sans-serif;
}
.sub-heading {
  /* color: rgba(77, 76, 76, 0.877);  */
  font-size: 16px; 
  margin-top: 10px; 
  max-width: 900px; 
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03cap;
}
.book-appointment-btn {
  background-color: #19bd96dc; 
  padding: 15px 20px; 
  color: white;
  border: none;
  border-radius: 10px; 
  cursor: pointer; 
  margin-top: 30px; 
  font-size: 15px; 
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.04cap;
}
.book-appointment-btn:hover{
  background-color: #0a9171b6; 
  /* color: #5ddbdb18; */
}
/* button{
color: #e1f4f7f1;
} */
.icon-style{
  width:30px;
}
.aboutus-txt{
 color: #19bd96;
 font-weight: 700;
font-size: 14px;
 /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
.verify-icon{
  width:22px;
  margin-right:7px
}
.about-points{
  font-weight: 500 !important;
  color: rgba(48, 46, 46, 0.932);
  font-size: 16px !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
